@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

#page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    width: 830px;
    height: 720px;
    margin: 100px 500px;
    padding: 10px;
    background-image: linear-gradient(#3b3c40, #1e1f21);
    color: lightgray;
    font-family: 'MedievalSharp', cursive;
}

#title {
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}

#subtitle {
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
}

#buttons-box {
    height: 319px;
    width: 405px;
}

.large-button {
    height: 60px;
    width: 200px;
    padding: 10px 20px;
    font-size: 30px;
}

.small-button {
    margin-top: 4.68px;
    height: 60px;
    width: 97.62px;
    font-size: 30px;
}

.button:hover {
    border-radius: 5px;
    background-color: #97d4d4;
    border-color: #97d4d4;
}